{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/api_test.css' %}" rel="stylesheet"/>
    <title>懒人接口调试</title>
  </head>
  <body>
    <div class="container">
            <div class="col-md-12" style="margin-top: 110px">
                <form class="form-api_test" action="/api_test/" method="POST">
                    {% if requests_form.captcha.errors %}
                        <div class="alert alert-warning">{{ requests_form.captcha.errors}}</div>
                    {% elif message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}

                  {% csrf_token %}
                    <h3 class="text-center">懒人api调试</h3><br>
                  <div class="form-group">
                      {{ requests_form.request_type.label_tag}}
                      {{ requests_form.request_type}}
                  </div>
                  <div class="form-group">
                      {{ requests_form.user_agent.label_tag }}
                      {{ requests_form.user_agent }}
                  </div>
                  <div class="form-group">
                      {{ requests_form.params.label_tag }}
                      {{ requests_form.params }}
                  </div>
                    <div class="form-group">
                      {{ requests_form.host.label_tag }}
                      {{ requests_form.host }}
                  </div>
                  <div>
                      <a href="/index/" class="text-success "><ins>返回首页</ins></a>
                      <button id="button-api" type="submit" class="btn btn-primary float-right">确认</button>
                  </div>
                </form>
            </div>
    </div> <!-- /container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#    以下三者的引用顺序是固定的#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
