{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>#}
{#    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>#}
{#    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#    <div class="row">#}
{#        <h1>删除用例</h1>#}
{#        <div class="col-md-6 col-md-offset-3">#}
{#            <form action="" method="post">#}
{#                <input type="hidden" name="edit_id" value="{{ user_query.pk }}">#}
{#                <p>username:<input type="text" name="username" value="{{ user_query.username }}" class="form-control"></p>#}
{#                <p>password:<input type="text" name="password" value="{{ user_query.password }}" class="form-control"></p>#}
{#                <input type="submit" class="btn btn-success">#}
{#            </form>#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{#</body>#}
{#</html>#}