<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax更新数据</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <select name="selectPerson" id="selectPerson">
            <option value="0" selected>请选择</option>
            <option value="1">张三</option>
            <option value="2">李四</option>
            <option value="3">王五</option>
        </select>
        <input type="button" class="btn" value="查询"/>
    </div>
    <div>

    </div>
    <br>
    <div class="content" id="test">

    </div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        $('.btn').click(function(){
            //获取下拉框的值
            var opt_values = $("#selectPerson  option:selected").val();
            if (opt_values == 0){
                alert("请选择要查询的选项！");
                return false;
            }
            $.ajax({
                type: "get",
                url: "/api/test_ajax/",
                dataType: "json",
                data: {
                    opt_values:opt_values
                },
                success: function (data) {
                    var key_name = data["key_name"];
                    console.log("key:"+key_name);
                    {#$(".content").text(key_name);#}
                    var html = "";
                for(var i=0;i<key_name.length;i++){    //遍历data数组
                        var ls = key_name[i];     
                        html +="<span>测试："+ls+"</span>";
                    }
                    $("#test").html(html); //在html页面id=test的标签里显示html内容
                }
            });
        });
    });
</script>
</html>