body{
    height: 100%;
    background-image: url("../img/photos/paul-morris-116514-unsplash.jpg");
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
.form-login{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-login{
    margin-top: 80px;
    font-weight: 400;
}
.form-login .form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-login .form-control:focus{
    z-index: 2;
}
.form-login input[type="text"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
form a{
  display: inline-block;
  margin-top:25px;
  font-size: 12px;
  line-height: 10px;
}
