
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
      <title>结算VIP会员业务</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/login/css/settlement.css" rel="stylesheet"/>


  </head>

  <body>
    <div class="container">
            <div class="col-md-12" style="margin-top: 110px">
                <form class="form-settlement-vip" action="/platform/settlement_vip" method="post">
                  {% csrf_token %}
{#                {{ request.session.user_name }}#}
                    <h3 class="text-center">结算VIP业务</h3>
                    <br><br>
                    <p style="background: gold">Tips：版权/主播/渠道合作方VIP会员业务结算</p>
                    <div class="form-group">
                      {{ settlement_form.settlement_date.label_tag}}
                      {{ settlement_form.settlement_date}}
                  </div>
                  <div class="form-group">
                      {{ settlement_form.settlement_res_id.label_tag }}
                      {{ settlement_form.settlement_res_id }}
                  </div>
                    <div class="form-group">
                      {{ settlement_form.platformType.label_tag }}
                      {{ settlement_form.platformType }}
                   </div>
                    <div class="form-group">
                      {{ settlement_form.settlement_partner_id.label_tag }}
                      {{ settlement_form.settlement_partner_id }}
                    </div>
                    <div class="form-group">
                      {{ settlement_form.settlement_partner_rate.label_tag }}
                      {{ settlement_form.settlement_partner_rate }}
                  </div>
                    <div>
                    {% if settlement_form.captcha.errors %}
                        <div class="alert alert-warning">{{ settlement_form.captcha.errors}}</div>
                    {% elif message %}
                        <div class="alert alert-warning">{{ message|linebreaksbr }}</div>
                    {% endif %}
                    </div>
                    <div>
                      <button name="button-add_anchor_partner" type="submit" class="btn btn-primary ">结算</button>
                       <a href="/platform/settlement_not_vip_result" class="text-success "style="margin-left:60px" >查看结算结果</a>
                        <a href="/" class="text-success" style="margin-left: 60px"><ins>返回首页</ins></a>
                    </div>
                </form>
            </div>
    </div> <!-- /container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#    以下三者的引用顺序是固定的#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>